@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');




html {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body {
    
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
  
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    
    margin: 0;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 1.4em;
}

header,
header:before {
    background: 50% 50% / cover;
}





header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-size: contain, cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0),rgb(4, 0, 10)),
    url("./images/BoBnyanja.jpg");
    background-position: center;
    background-size:cover;
    animation: pic 10s linear;
    animation-fill-mode: forwards;


    
}
#drop{
    position:absolute;
    width: 400px;
    height: 680px;
    text-align: center;
    padding-top:100px;
    


   
}
#pauseMontage{
    width:120px;
    border:0px;
    outline: 0px;
    height: 30px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
position: absolute;

top:50%;
left:2%;
color:blue;

font-size:1em;
text-transform: lowercase;


}
/* player config secction */



#playerly{
    display: none;
}

#playerwraper {
    margin: 0;
    box-sizing: inherit;
    padding: 0;
    display:flex;
    background:#7A419B;
    min-height:100vh;
    background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
    background-size:cover;
    align-items: center;
    justify-content: center;

  }
  
  .player {
    max-width:1000px;
    border:5px solid rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    width: 100%;
  }
  
  .player__button {
    background:none;
    border:0;
    line-height:1;
    color:white;
    text-align: center;
    outline:0;
    padding: 0;
    cursor:pointer;
    max-width:50px;
  }
  
  .player__button:focus {
    border-color: #ffc600;
  }
  
  .player__slider {
    width:10px;
    height:30px;
  }
  
  .player__controls {
    display:flex;
    position: absolute;
    bottom:0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition:all .3s;
    flex-wrap:wrap;
    background:rgba(0,0,0,0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height:15px;
  }
  
  .player__controls > * {
    flex:1;
  }
  
  .progress {
    flex:10;
    position: relative;
    display:flex;
    flex-basis:100%;
    height:5px;
    transition:height 0.3s;
    background:rgba(0,0,0,0.5);
    cursor:ew-resize;
  }
  
  .progress__filled {
    width:50%;
    background:#ffc600;
    flex:0;
    flex-basis:50%;
  }
  
  /* unholy css to style input type="range" */
  
  input[type=range] {
    -webkit-appearance: none;
    background:transparent;
    width: 100%;
    margin: 0 5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  }











.drop-center{
    width:100%
}
#headerInfo{
    width: 430px;
    height: 520px;
    border-radius: 20px;
    padding: 30px;
    margin-left: 30px;
    background-color:aliceblue
    ;
   
    
}






.triangle-up {
	width: 0;
	height: 0;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
    border-bottom: 20px solid rgb(236, 244, 252);
    margin-left: 54%;
   
}
.profile-encloser{
    display: flex;

}

.profile{
    width: 90px;
    height: 90px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 80px;
}
.persona{
    color: rgb(4, 0, 10);
    text-transform: capitalize;
    font-weight: 300;
    margin-left: 30px;

}
.description{
    text-align: justify;
    padding-top: 20px;
}
.description p{
    text-transform: initial;
    color: rgb(4, 0, 10);
    font-weight: 100;
    font-size: 1em;

}
.description span {
    color: rgb(4, 0, 10);
    font-weight: 100;
    font-size: 1em;
}

#more{
    display: none;
}


.checkout{
    padding-top: 20px;
}

.checkout a{
    background-color: #0383be;
    color: aliceblue;
    text-transform: initial;
    height: 40px;
    border:0px;
    padding:8px;
    font-size: .8em;
    text-decoration: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    display: none;
    object-fit:cover;
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }


@keyframes pic{
    0%{
        background-position: 20%;
    
    }
    25%{
        background-position: 70%;
        
    }
    50%{
        /* opacity: .6; */
    }
    65%{
        background-position: 100%;
    }
    75%{
        opacity:0;
   
    }
    80%{
        background-image: url('./images/bob photo.jpg');
    }
    90%{
        opacity:1;
       
    }
    100%{
        
        background-color: transparent;
    }
}

#container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    font-weight: lighter;
  
    color: grey;
    width: 100%;
    height:auto;

}

#container h2{
    font-size: 2em;
    color: aliceblue;
}

  .recently-cover{
      width: 90%;
      margin: auto;
      height: 50vh;
     
    
      
  }

  .items-wrapper{width: 100%; height: 40vh;  display: flex;  flex-wrap: wrap;  background-color: #02042b;}
  .items-wrapper h2{font-weight: 400;}
  .item{flex: 2;background-color: rgba(0, 1, 3, 0.808);display:flex;flex-direction:column;margin: 2px;
     align-items: center;justify-content: center;}

  




.threeD{

    perspective: 900px;
    width: 90%;
    height: auto;
    background-color: transparent;
    margin-top: 8%;
    display: flex;
    
    
 


}
.flat{
width: 60%;
height:100%;
/*background:url("./images/bob%20photo.jpg");*/
transform: rotateY(35deg) rotateX(1deg);

}
.right{
   
    width: 500px;
    height: 50vh;
    padding-top: 60px
}

.right h2{
    font-weight: 100;
}



#slider {
	overflow: hidden;
	width: 900px;
	height: 400px;}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
    object-fit: contain;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}




  .reel{
    margin-left:4%;
    margin-top:4%;
    
  }


























#kmain{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
background: rgb(31,35,113);
background: linear-gradient(34deg, rgba(31,35,113,1) 48%, rgba(31,35,113,1) 56%, rgba(102,149,217,1) 81%);
}
header h2{
    position: absolute;
    top: 10px;
    left: 30px;
    text-transform: capitalize;
    font-size: 2.4em;
    color: #040a5f;
}
#kmain-item{flex:2; color: white;}
.company{
  padding-left: 5%;

}
.company img{
  width: 120px;
  height: 90px;

}

/* 

.contact{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}  */
.icons{
    padding: 30px;
}
.cont-left{
    padding-left: 30px;

    
}

.actual-cont{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; 

    
}




.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    height: 100%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  #loader {
    border: 10px solid rgb(253, 251, 251);
    border-radius: 50%;
    border-top: 10px solid #6634db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top:50%;
    left:50%;
    display: none;
    
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/*

@keyframes coloringthislife{
    0%{
        
         transform:translateX(0%) 
    }
    50%{
             transform:translateY(20%) 
    }
   
    
    100%{
             transform:translateX(2px) 
    }
}
*/



@media(max-width:760px){
    header::before{
        
        background-size: cover;
        
        background-repeat: no-repeat;
        overflow: hidden;
    }
    #container{
        padding: 0px;
        height: auto;
       
    }
    .recently-cover{
        height: auto;
        overflow: visible;
        /* width: 700px;
        height: 70vh; */
  
        
        
        
    }
    .items-wrapper{
      display: inline;
    }
    .modal{
        margin-left: -25px;
        height: 400px;
    
    }
    .items-wrapper h2{font-weight: 900;font-size: .6em;transform: scale(.6);}
   
    #pauseMontage{ 
        top:70%;
      display: none;
    }

    .threeD{
        display: flex;
        flex-wrap: wrap;
        position: relative;
       
       
       
    }
    .flat{
        width: 300px;
        transform: rotateX(-48deg);
        height: 200px
    }
    #slider{
        height: 200px;
        width: 350px;
    }
   .right{
       padding: 20px;
   }

 


  
    #kmain{
        height: 100vh;
      background-color: red;
        display: inline;
      
    }
    #kmain-item{
      
      background-color: #040a5f;
   margin: 4px;
      height: 200px;
      padding: 10px;

    }
    .company img{
      width: 40px;
      height: 40px;
    }
    .cont-left{
     display: none;
    }
    /* .company{
        height: 300px;
        overflow: hidden;
        padding:20%;
        margin: 0px;
       
        width: 200px;
        overflow: hidden;
    } */
    .company h2{
        font-size:1.2em;
        color:black;
        
    }
  
    .icons{
        padding: 20px
    }
    
    @keyframes pic {
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 30%;
        }
        
    }
    
    header h2{
        font-size: 1.2em;
      
        
    }
    header h1{
        display: none;
    }
    .drop-center{
        position: absolute;
        top: 200px;
        left: -150px
    }
    #headerInfo{
        border-radius: 20px;
        width: 90%;
        height: 400px;
        padding: 8px;
        position: absolute;
        top: 220px;
        left: -20px;
        
    
    }
  
    #drop{
        position: absolute;
        bottom:-320px;
        animation-name: uncoverdrop;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        opacity: 0;
        animation-delay: 4s;
        /* overflow: scroll; */

    }
    @keyframes uncoverdrop {
        0%   {  top:200px;
        opacity: 0;}
        /* 25%  {top:0px;}
        50%  { top:200px;} */
        100%  {opacity: 1; top:60px;}
   
      }
    
    .profile img{
        width: 60px;
        height: 60px;
        padding: 6px
        
    }
    .persona{
        font-size: 1em;
        margin:0px;
        padding: 8px

    }
    .profile-encloser{
        height: 60px
    }
  
    .description{
        padding: 16px;
        font-size: .7em;
        height: 100px
    }
  
    .checkout
    
    {
        
    padding: 30px;
        margin-left: 12px;
        position: absolute;
        right: 0px;
        bottom: 0px;
    text-align: left}
    .checkout a{font-size: .5em;
    }

    
}